@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vphno9');
  src:  url('fonts/icomoon.eot?vphno9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vphno9') format('truetype'),
    url('fonts/icomoon.woff?vphno9') format('woff'),
    url('fonts/icomoon.svg?vphno9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-location2:before {
  content: "\e948";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-users:before {
  content: "\e972";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
