form.stylin_form1 {
	width:14em; /* overall width of form */
	margin:20px auto; /* centers form in container */
	border:1px solid #bbb7ae;
	padding:.5em .5em .15em;
	}
.stylin_form1 h3 { /* form main heading */
	margin:0;
	padding:0 0 .2em .2em;
	font-weight:600;
	color:#bbb7ae;
	}
.stylin_form1 fieldset {
	margin:0;
	padding:0 0 .2em 0;
	width:100%;
	border:0;
	}
/* legend has weird position behavior, so I wrap the text in block-leveled span and style that instead */
.stylin_form1 legend {
	width:100%;
	padding:.3em 0;
	background:#bbb7ae;
	}
.stylin_form1 legend span { /* size of legend headings text */
	display:block;
	font-size:1em;
	line-height:1.1em;
	padding: 0 0 0 .4em;
	font-weight:700;
	color:#fff;
	}
/* EACH LABEL/INPUT COMBO IS WRAPPED IN A section */ 
.stylin_form1 section {
	overflow:hidden; /* forces section to enclose the form control and label */
	padding:.2em 0 .4em 0; 
	border-bottom:8px solid #e7e5df; /* visual separation between each section if wanted */
	}
.stylin_form1 section:last-child { /* no border on last section of each group */
	border-bottom:0px;
	}
/* TEXT FIELDS */
.stylin_form1 section label,
.stylin_form1 section h4 { /* h4 is used to title groups of checkboxes and radio buttonss */
	display:block;
	clear:both;
	margin:.3em .3em 0 0; /* right margin ensures label text wraps before touching input */
	padding-bottom:.1em;
	font-size:.8em;
	font-family:'Droid Sans';
	font-weight:400; 
	line-height:1.1;
	}
.stylin_form1 section label span, /* asterisk for required fields */
.stylin_form1 section h4 span {
	font-size:.75em;
	vertical-align:text-top;
	color:#f00;
	}	
.stylin_form1 section p.note {
	font-size:.7em;
	color:#f00;
	margin:0;
	padding:0 0 .3em 0;
	}	
.stylin_form1 section input, 
.stylin_form1 section textarea, 
.stylin_form1 section select {
	margin:.2em .5em .2em 0;
	padding:.2em .4em; /* creates space around the text in the input */
	color:#000;
	box-shadow:1px 1px 3px #ccc;
	font-size:.8em;
	font-family:inherit; /* for Firefox - uses Courier on textarea without this */
	outline:none; /* removes default blue focus outline */
	}
/* style the text fields (text, password, date, textarea, etc) with rounded corners */
.stylin_form1 section input,
.stylin_form1 section textarea {
	width:12em;
	border:1px solid #bbb7ae;
	border-radius:3px;
	}
.stylin_form1 section textarea {
	height:5em;  /* vertical height of textarea box */
	margin-top:.3em; /*space below label */
	line-height:1.1;
	}
.stylin_form1 section p {
	margin:.3em .75em 0;
	clear:both;
	font-size:.7em;
	line-height:1.1;
	color:#000;
	}
.stylin_form1 section p.error {
	color:#f00;  /* colors direction text red when error class added */
	}