html,body{
    width: 100%;
    overflow-x: hidden;
    background-color: #F4F4F4;
    font-size:14px ;
    color: #555;
}
.container{
    margin: 20px auto;
    width: 1200px;
    overflow: hidden;
}
.header{
    background-color: #fff;
}

.header a{
    position: relative;
    float: left;
    padding: 0 15px ;
    line-height: 50px;
    text-align: center;
    color: #999;
}
.header a i{
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -4px;
    border: 4px solid transparent;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.header a i.up{
    margin-top: -9px;
    border-bottom-color:#999 ;
}
.header a i.down{
    margin-top: 1px;
    border-top-color: #999;
}
.header a i.up.bg{
    border-bottom-color: #E01D20;
}
.header a i.down.bg{
    border-top-color: #E01D20;
}
.header a:hover{
    color: #E01D20;
}
/*商品列表*/
.list{
    width: 1205px;
    margin-top: 20px;
}
.list li{
    margin: 0px 10px 10px 0;
    float: left;
}
.list li a{
    display: block;
    padding: 0 16px;
    width:193px ;
    background: #fff;
    border: 3px solid transparent;
}
.list li a img{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.list li a p{
    line-height: 40px;
    color: #999;
}
.list li a p.hot{
    color: orangered;
}
.list li a span{
    line-height: 40px;
    color: darkorange;
}
.list li a p.time{
    color: darkkhaki;
}
.list li a del{
    color: #999;
}
.list li a:hover{
    box-shadow: 1px 2px 3px #ccc;
    position: relative;
    top:-5px;
}
.list li a:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.clear:after{
    display: block;
    content: "";
    clear: both;
}